<div class="media news-component" ng-hide="expanded || full">
	<a class="pull-left" ng-click="expand()">
    <div class="image" style="background-image: url('{{image}}')"></div>
  </a>
	<div class="media-body">
		<h3 class="media-heading" ng-click="expand()">{{title}}</h3>

		<div class="pull-right controls">
			<a class="full" ng-click="gofull()" ng-hide="full">View Full Article</a>
			<a class="expand" ng-click="expand()" ng-hide="expanded"><span class="fa fa-expand"></span></a>
		</div>
	</div>
</div>

<div class="news-expanded animated" ng-show="expanded || full" ng-class="{'flipInX': expanded, 'fullio bounceIn': full}">
	<div class="image" style="background-image: url('{{image}}')"></div>

	<h3>{{title}}</h3>

	<p>
		<span ng-show="full" ng-bind-html="fulltext">
		</span>
		<ul ng-hide="full">
			<li ng-repeat="item in summary">{{item}}</li>
		</ul>
	</p>

	<div class="pull-right controls">
		<a class="full" ng-click="gofull()" ng-hide="full">View Full Article</a>
		<a class="expand" ng-click="talk()"><span class="fa fa-bell-o"></span></a>
	</div>
</div>
